<div class="container main-content-bg-l page-exdetails exchage-wrap">
    <div class="exchage-cont">
        <div class="exchage-header">
            Реквизиты обмена
        </div>
        <p>Шаг 2. Заполните реквизиты</p>

        <form action="/step3" class="exdetails" method="POST">
            <div class="ex-form-control ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <input class="exchange-input" type="text" placeholder="ФИО получателя">
            </div>
            <div class="ex-form-control">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0V4zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1H0z"/>
                </svg>
                <input class="exchange-input" type="text" placeholder="Номер карты">
            </div>
            <div class="ex-form-control">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg>
                <input class="exchange-input" type="text" placeholder="Электронная почта">
            </div>

            <div class="input-confirmation">
                <input type="checkbox" name="confirmation" value="1">
                <label>Нажимая на кнопку 'Продолжить', я принимаю правила обмена
                и даю согласие на обработку персональных данных.</label> 
            </div>

            <div class="exdir-form-btns">
                <button class="btn btn-blue">Продолжить</button>
                <a class="btn btn-white" href="/start">Назад</a>
            </div>
                
                
                
            


        </form>
    </div>
</div>