<div class="container main-content-bg-r">
    <div class="main-content-wrap">
        
        <div class="page-custom">
            <div class="header3">Политика конфиденциальности</div>

            <p>Дата вступления в силу: 6 сентября 2018</p>
            <p>365cash управляет вебсайтом https://365cash.co/ (далее "Сервис").</p>
            <p>Эта страница информирует о нашей политике в отношении сбора, использования и раскрытия личных данных при использовании нашего Сервиса и о вариантах действий связанных с этими данными.</p>
            <p>Мы используем Ваши данные для предоставления и улучшения Сервиса. Используя Сервис, Вы соглашаетесь на сбор и использование информации в соответствии с этой политикой. Если в настоящей Политике конфиденциальности не указано иное, термины, используемые в настоящей Политике конфиденциальности, имеют те же значения, что и в наших Условиях и Положениях, доступных по ссылке https://365cash.co/page/agreement</p>
            <h4>Сбор и использование информации</h4>
            <p>Мы собираем несколько различных типов информации для различных целей, чтобы предоставлять и совершенствовать наш Сервис для Вас.</p>
            <p>Типы собираемых данных</p>
            <p>Личные данные</p>
            <p>При использовании нашего Сервиса мы можем попросить Вас предоставить нам определенную личную информацию, которую можно использовать для связи или идентификации Вас («Личные данные»). Идентификационная информация может включать, но не ограничивается:</p>
            <p>Email адрес</p>
            <p>Имя и Фамилия</p>

            






        </div>
        
    </div>
</div>