<div class="page-partners page-inner">
    <div class="container">
        <div class="partners-wrap">
            <div class="partners-col1">
                <div class="inner-title">
                    Партнерская программа
                </div>
                <div class="inner-subtitle">
                    <p>Поделись ссылкой и зарабатывай 25%* с каждой операции которую совершил реферал</p>
                    <span>*25% от прибыли обменника со сделки</span> 
                </div>
                <div class="header3">Программа лояльности</div>
                <div class="partners-content">
                    <div class="page-text">
                        <p>На данный момент установлены 5 уровней Программы лояльности, которые достигаются при совершении обменов на 2000, 5000, 10 000, 30 000 и 50 000 USD соответственно. За каждый уровень Вы получаете поправочный коэффициент для формирования Вашего личного курса обмена по любому направлению.</p>
                        <p>Таким образом, постоянно совершая обмены на нашем обменном сервисе вы можете получить скидку до 0,2% от рыночного курс в любом направлении обмена. Это очень значительная величина, так как зачастую разница между покупкой и продажей на большинстве валютных пар не достигает и 1%.</p>
                        <p>Накопительная сумма формируется в валюте Perfect Money USD по рыночному курсу на момент совершения обмена.</p>
                    </div>
                    <div class="partner-sheme">
                        <div class="partner-sheme-item">
                            <div class="partner-sheme-rounded">1</div>
                            <div class="partner-sheme-persent">0.05 %</div>
                            <div class="partner-sheme-sum">$2000</div>
                        </div>
                        <div class="partner-sheme-seporater">
                            <img src="../assets/img/horizontal-blue.svg" alt="">
                        </div>
                        <div class="partner-sheme-item">
                            <div class="partner-sheme-rounded">2</div>
                            <div class="partner-sheme-persent">0.01 %</div>
                            <div class="partner-sheme-sum">$5000</div>
                        </div>
                        <div class="partner-sheme-seporater">
                            <img src="../assets/img/horizontal-blue.svg" alt="">
                        </div>
                        <div class="partner-sheme-item">
                            <div class="partner-sheme-rounded">3</div>
                            <div class="partner-sheme-persent">0.1 %</div>
                            <div class="partner-sheme-sum">$10000</div>
                        </div>
                        <div class="partner-sheme-seporater">
                            <img src="../assets/img/horizontal-blue.svg" alt="">
                        </div>
                        <div class="partner-sheme-item">
                            <div class="partner-sheme-rounded">4</div>
                            <div class="partner-sheme-persent">0.15 %</div>
                            <div class="partner-sheme-sum">$30000</div>
                        </div>
                        <div class="partner-sheme-seporater">
                            <img src="../assets/img/horizontal-blue.svg" alt="">
                        </div>
                        <div class="partner-sheme-item">
                            <div class="partner-sheme-rounded">5</div>
                            <div class="partner-sheme-persent">0.2 %</div>
                            <div class="partner-sheme-sum">$50000</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="partners-col2">
                <div class="header3">Как это работает</div>
                <p>Сколько <span style="color: #0085FF;">примерно</span> вы можете заработать</p>

                <div class="partners-how">
                    <div class="partners-how-item">
                        <div class="how-ref-sum">Обменов реферала</div>
                        <div class="how-ref-sum-val">$1000</div>
                        <br>
                        <div class="how-ref-comission">Получаете</div>
                        <div class="how-ref-comission-val">$1,25</div>
                    </div>
                    <div class="partners-how-item">
                        <div class="how-ref-sum">Обменов реферала</div>
                        <div class="how-ref-sum-val">$1000</div>
                        <br>
                        <div class="how-ref-comission">Получаете</div>
                        <div class="how-ref-comission-val">$1,25</div>
                    </div>
                    <div class="partners-how-item">
                        <div class="how-ref-sum">Обменов реферала</div>
                        <div class="how-ref-sum-val">$1000</div>
                        <br>
                        <div class="how-ref-comission">Получаете</div>
                        <div class="how-ref-comission-val">$1,25</div>
                    </div>
                    <div class="partners-how-item">
                        <div class="how-ref-sum">Обменов реферала</div>
                        <div class="how-ref-sum-val">$1000</div>
                        <br>
                        <div class="how-ref-comission">Получаете</div>
                        <div class="how-ref-comission-val">$1,25</div>
                    </div>
                </div>

                <div class="partners-how-btns">
                    <a href="/" class="btn btn-blue">Начать зарабатывать</a>
                </div>

            </div>
        </div>
    </div>
</div>