<div class="container main-content-bg-r">
    <div class="main-content-wrap">
        
        <div class="page-index">
            <div class="page-title">
                Лучший сервис по обмену валют 
            </div>
            <div class="page-text">
                Равным образом, дальнейшее развитие различных форм деятельности предполагает независимые способы реализации первоочередных требований.
            </div>
            <div class="btns-wrap">
                <a class="btn btn-blue" href="#">Начать обмен</a>
            </div>
            
        </div>
        
    </div>
</div>
