<div class="page-news page-inner">
    <div class="container page-news-header">
        <div class="inner-title">
            Новости
        </div>
        <div class="news-slider-nav">
            <button id="news-slider-nav-prev" class="btn btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </button>
            <button id="news-slider-nav-next" class="btn btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg> 
            </button>
        </div>
    </div>
    
    
    <div class="container news-content">

        <div class="news-slider-wrap">
            <div id="news-slider" class="news-slider">
                <div class="news-item">
                    <div class="news-item-inner">
                        <div class="news-img-wrap">
                            <img src="../assets/img/nes1-img.jpg" alt="">
                        </div>
                        <div class="news-item-content">
                            <h3 class="news-item-content-header">
                                Процессинг BitPay добавит поддержку Ethereum
                            </h3>
                            <div class="news-item-content-text">
                                Криптовалютный процессинг BitPay добавит поддержку Ethereum в ближайшие недели. Мерчанты смогут принимать монету...
                            </div>
                        </div>
                        <div class="news-item-footer">
                            <div class="news-item-date">
                                19.09.2019
                            </div>

                            <a href="http://" class="news-item-read-link">
                                Читать полностью
                                <span>
                                    <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.5 4H25.5M25.5 4L22.5 1M25.5 4L22.5 7" stroke="#0085FF" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item-inner">
                        <div class="news-img-wrap">
                            <img src="../assets/img/news2-img.png" alt="">
                        </div>
                        <div class="news-item-content">
                            <h3 class="news-item-content-header">
                                Турция создаст национальную блокчейн-платформу
                            </h3>
                            <div class="news-item-content-text">
                                Криптовалютный процессинг BitPay добавит поддержку Ethereum в ближайшие недели. Мерчанты смогут принимать монету...
                            </div>
                        </div>
                        <div class="news-item-footer">
                            <div class="news-item-date">
                                19.09.2019
                            </div>

                            <a href="http://" class="news-item-read-link">
                                Читать полностью
                                <span>
                                    <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.5 4H25.5M25.5 4L22.5 1M25.5 4L22.5 7" stroke="#0085FF" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </a>

                        </div>
                    </div>
                </div>     
                <div class="news-item">
                    <div class="news-item-inner">
                        <div class="news-img-wrap">
                            <img src="../assets/img/nes1-img.jpg" alt="">
                        </div>
                        <div class="news-item-content">
                            <h3 class="news-item-content-header">
                                Процессинг BitPay добавит поддержку Ethereum
                            </h3>
                            <div class="news-item-content-text">
                                Криптовалютный процессинг BitPay добавит поддержку Ethereum в ближайшие недели. Мерчанты смогут принимать монету...
                            </div>
                        </div>
                        <div class="news-item-footer">
                            <div class="news-item-date">
                                19.09.2019
                            </div>

                            <a href="http://" class="news-item-read-link">
                                Читать полностью
                                <span>
                                    <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.5 4H25.5M25.5 4L22.5 1M25.5 4L22.5 7" stroke="#0085FF" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item-inner">
                        <div class="news-img-wrap">
                            <img src="../assets/img/news2-img.png" alt="">
                        </div>
                        <div class="news-item-content">
                            <h3 class="news-item-content-header">
                                Турция создаст национальную блокчейн-платформу
                            </h3>
                            <div class="news-item-content-text">
                                Криптовалютный процессинг BitPay добавит поддержку Ethereum в ближайшие недели. Мерчанты смогут принимать монету...
                            </div>
                        </div>
                        <div class="news-item-footer">
                            <div class="news-item-date">
                                19.09.2019
                            </div>

                            <a href="http://" class="news-item-read-link">
                                Читать полностью
                                <span>
                                    <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.5 4H25.5M25.5 4L22.5 1M25.5 4L22.5 7" stroke="#0085FF" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </a>

                        </div>
                    </div>
                </div>         
            </div>

            

        </div>        
    </div>


</div>