<div class="page-rates page-inner">
    <div class="container">
        <div class="inner-title">
            Курсы обмена
        </div>


        <div class="rates-table">
            <div class="rates-row table-head">
                <div class="rates-col col-send">
                    Отдаете
                </div>
                <div class="rates-col col-recive">
                    Получаете
                </div>
                <div class="rates-col col-rates">
                    Курсы обмена
                </div>
                <div class="rates-col col-minmax">
                    Мин. макс. сумма
                </div>
            </div>
            <div class="rates-row rates-row-content">
                <div class="rates-col col-send">
                    <span class="col-send-icon"></span>
                    USD Coin
                </div>
                <div class="rates-col col-recive">
                    <span class="col-recive-icon"></span>
                    Compound
                </div>
                <div class="rates-col col-rates">
                    <span class="cur1">333.35 USDC</span>
                    <span class="sepor">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </span>
                    <span class="cur2">1COMP</span>
                </div>
                <div class="rates-col col-minmax">
                    <span class="rates-min">100.00000000 USDC</span>
                    <span class="sepor">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi" viewBox="0 0 16 16">

                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>

                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                        
                        
                        </svg>
                    </span>
                    <span class="rates-max">4571.10081763COMP</span>
                </div>
            </div>
            <div class="rates-row rates-row-content">
                <div class="rates-col col-send">
                    <span class="col-send-icon">
                        <img src="../assets/img/usd-coin-icon.png" width="25" height="25" alt="">
                    </span>
                    USD Coin
                </div>
                <div class="rates-col col-recive">
                    <span class="col-recive-icon">
                        <img src="../assets/img/compound-icon.png" width="25" height="25" alt="">
                    </span>
                    Compound
                </div>
                <div class="rates-col col-rates">
                    <span class="cur1">333.35 USDC</span>
                    <span class="sepor">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </span>
                    <span class="cur2">1COMP</span>
                </div>
                <div class="rates-col col-minmax">
                    <span class="rates-min">100.00000000 USDC</span>
                    <span class="sepor">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                        </svg>
                    </span>
                    <span class="rates-max">4571.10081763 COMP</span>
                </div>
            </div>
        </div>

    </div>
</div>