<div class="page-reviews">
    <div class="reviews-wrap">
        <div class="reviews-slider">
            <div>
                <div class="review-item">
                    <div class="review-item-messge">
                        <div class="review-item-messge_text">
                            “Рекомендую! Не первый раз пользуюсь данным обменником, в очередной раз все сделали быстро”
                        </div>
                        <div class="review-item-messge_stars">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                        </div>
                    </div>
                    <div class="review-item-persone">
                        <img src="./assets/img/review-avatar.png" alt="">
                        <div class="rip-data">
                            <div class="rip-nikname">kitkat865</div>
                            <div class="rip-date">23.09.2021</div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="review-item">
                    <div class="review-item-messge">
                        <div class="review-item-messge_text">
                            “Рекомендую! Не первый раз пользуюсь данным обменником, в очередной раз все сделали быстро”
                        </div>
                        <div class="review-item-messge_stars">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                        </div>
                    </div>
                    <div class="review-item-persone">
                        <img src="./assets/img/review-avatar.png" alt="">
                        <div class="rip-data">
                            <div class="rip-nikname">kitkat865</div>
                            <div class="rip-date">23.09.2021</div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="review-item">
                    <div class="review-item-messge">
                        <div class="review-item-messge_text">
                            “Рекомендую! Не первый раз пользуюсь данным обменником, в очередной раз все сделали быстро”
                        </div>
                        <div class="review-item-messge_stars">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                        </div>
                    </div>
                    <div class="review-item-persone">
                        <img src="./assets/img/review-avatar.png" alt="">
                        <div class="rip-data">
                            <div class="rip-nikname">kitkat865</div>
                            <div class="rip-date">23.09.2021</div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="review-item">
                    <div class="review-item-messge">
                        <div class="review-item-messge_text">
                            “Рекомендую! Не первый раз пользуюсь данным обменником, в очередной раз все сделали быстро”
                        </div>
                        <div class="review-item-messge_stars">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                        </div>
                    </div>
                    <div class="review-item-persone">
                        <img src="./assets/img/review-avatar.png" alt="">
                        <div class="rip-data">
                            <div class="rip-nikname">kitkat865</div>
                            <div class="rip-date">23.09.2021</div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="review-item">
                    <div class="review-item-messge">
                        <div class="review-item-messge_text">
                            “Рекомендую! Не первый раз пользуюсь данным обменником, в очередной раз все сделали быстро”
                        </div>
                        <div class="review-item-messge_stars">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                            <img src="./assets/img/star-icon.png" alt="">
                        </div>
                    </div>
                    <div class="review-item-persone">
                        <img src="./assets/img/review-avatar.png" alt="">
                        <div class="rip-data">
                            <div class="rip-nikname">kitkat865</div>
                            <div class="rip-date">23.09.2021</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>