<div class="page-support page-inner">
    <div class="container">
        <div class="inner-title">
            FAQ’s
        </div>
        <div class="faq-wrap">
            <div id="faq-accordion" class="faq-inner">
                <h3>Обязательна ли регистрация на вашем сайте?</h3>
                <div>
                    <p>
                        Ответ на вопрос: Обязательна ли регистрация на вашем сайте?
                    </p>
                </div>
                <h3>Есть ли у Вас Партнерская программа?</h3>
                <div>
                    <p>
                        Да. У нас есть весьма понятная и прозрачная партнерская программа, по которой Вы можете получать 25% от нашего заработка за обмены приведенных Вами пользователей. Выплаты вознаграждения осуществляются от 1 PMUSD. В своем кабинете Вы в режиме онлайн можете отслеживать операции Ваших рефералов. С более детальной информацией Вы можете ознакомится после регистрации в своем Личном кабинете.
                    </p>
                </div>
                <h3>Как совершить обмен на вашем сайте?</h3>
                <div>
                    <p>
                        Ответ на вопрос: Как совершить обмен на вашем сайте?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>