@font-face {
	font-style: normal;
	font-weight: normal;
	font-family: 'Coco Gothic'; 
	src: local('Coco Gothic'),
		url(../fonts/coco_gothic/CocoGothic-Regular.ttf),
        url(../fonts/coco_gothic/CocoGothic-Regular.eot);
}
@font-face {
	font-style: normal;
	font-weight: bold;
	font-family: 'Coco Gothic'; 
	src: local('Coco Gothic'),
		url(../fonts/coco_gothic/Coco-Gothic-Bold.ttf); 
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*, a:focus {
    outline: none !important;
}
:root {
    background: #F8F8F8;
    font-family: 'Raleway', sans-serif;
}
.header3 {
    font-family: Coco Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110.1%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}
.h100 {
    height: 100%;
}
.m-0 {
    margin: 0;
}
.d-flex {
    display: flex;
}
.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0;
    transition: color .15s
}
.btn-circle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8F8F8;
    box-shadow: -3.80388px -3.80388px 9.50971px #FFFFFF, 3.80388px 3.80388px 9.50971px #D1D9E6;
    border-radius: 50%;
}
.btn-circle:hover {
    box-shadow: inset -3.80388px -3.80388px 9.50971px #FFFFFF, inset 3.80388px 3.80388px 9.50971px #D1D9E6;
}
.btn-blue {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: #0085FF;
    box-shadow: 0px 4px 43px rgba(0, 133, 255, 0.4);
    border-radius: 53px;
    padding: 16px 85px;
}
.btn-blue:hover {
    background: #0071D9;
    box-shadow: 0px 4px 43px rgba(0, 133, 255, 0.4);
}

.btn-white {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #B7BBC6;
    background: #F8F8F8;
    box-shadow: -6px -6px 15px #FFFFFF, 6px 6px 15px #D1D9E6;
    border-radius: 53px;
    padding: 16px 51px;
}
.btn-white:hover {
    background: #F8F8F8;
    box-shadow: -6px -6px 15px #FFFFFF, 6px 6px 15px #D1D9E6;
    color: #0085FF;
}


.social-link {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-title {
    font-family: 'Coco Gothic';
    font-style: normal;
    font-weight: bold;
    font-size: 94px;
    line-height: 103px;
    color: #000000;
}
.page-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.page-inner {
    padding-top: 90px;
}
.inner-title {
    font-family: 'Coco Gothic';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 110.1%;
    color: #000000;
    margin-bottom: 18px;
}
.inner-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}
.inner-subtitle p {
    margin: 0;
}
.inner-subtitle span {
    font-size: 12px;
}


.btn-icon {
    transition: all 0.5s
}
.rotated {
    transform: rotate(180deg);
}

.container {
    width: 1425px;
    margin-left: auto;
    margin-right: auto;   
}
.site-container {
    overflow: hidden;
}
.site-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.main-wrap.muted {
    position: relative;
}
.main-wrap.muted::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.37);
    left: 0;
}
.rates-line2 {
    width: 100%;
    height: 26px;
    background: #F3F3F3;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13.4221px;
    line-height: 20px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    padding-top: 4px;
    overflow: hidden;
    /* white-space: nowrap; */
}
   
.rates-line-item {
    margin-right: 24px;
}
.rate-up .rate-data {
    color: #31CC71;
}
.rate-down .rate-data {
    color: #EF5762;
}
.rate-down svg {
    transform: rotate(180deg);
}


/* HEADER */
.header {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
}

.header_logo img {
    height: 42px;
    width: 140px;
}
.header_lang {
    margin-left: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    position: relative;
}
.header_lang a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #9D9D9D;
    text-decoration: none;
}
.lang-content {
    position: absolute;
    left: 0;
    bottom: -40px;
    z-index: 9;
}
.lang-content-nav {
    display: flex;
    min-width: 95px;
    height: 42px;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 6px;
}
.lang-content-nav a {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.header_burger {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.header_profile {
    width: 210px;
    display: flex;
    justify-content: end;
}
.top-nav-wrap {
    padding-bottom: 27px;
    display: none;
}
.top-nav-wrap .header {
    margin-bottom: 30px;
}
.header-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.header-nav a {
    margin: auto 15px;
}
.header-nav_link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    text-decoration: none;
    padding-top: 5px;
}
.header-nav_link:hover {
    color: #0085FF;
    position: relative;
}
.header-nav_link:hover::before {
    content: '';
    background-color: #0085FF;
    height: 2px;
    width: 34px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-nav-footer {
    display: flex;
    justify-content: center;
}
.top-nav-footer-wrap {
    display: flex;
}
.top-nav_social {
    display: flex;
    justify-content: space-between;
    min-width: 160px;
}
.top-nav-footer_link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #999999;
}

.top-nav-footer_links a {
    margin-left: 30px;
}

/* CONTENT */
.main-content {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 20px;
}
.main-content-bg-r {
    height: 100%;
    background: url(../img/bg-coins.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.main-content-bg-l {
    height: 100%;
    background: url(../img/bg-coins.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.main-content-wrap {
    width: 100%;
    height: 100%;
}


/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footer_info {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}
.footer_social {
    display: flex;
}
.footer_social a {
    margin: 0 10px;
}
.tg-link {
    background-image: url(../img/telegram.svg);
}
.tg-link:hover {
    background-image: url(../img/telegram-hover.svg);
}
.tg-link:active {
    background-image: url(../img/telegram-activ.svg);
}
.vk-link {
    background-image: url(../img/vk.svg);
    width: 35px;
}
.vk-link:hover {
    background-image: url(../img/vk-hover.svg);
}
.vk-link:active {
    background-image: url(../img/vk-activ.svg);
}
.whatsapp-link {
    background-image: url(../img/whatsapp.svg);
}
.whatsapp-link:hover {
    background-image: url(../img/whatsapp-hover.svg);
}
.whatsapp-link:active {
    background-image: url(../img/whatsapp-activ.svg);
}
.insta-link {
    background-image: url(../img/instagram.svg);
}
.insta-link:hover {
    background-image: url(../img/instagram-hover.svg);
}
.insta-link:active {
    background-image: url(../img/instagram-activ.svg);
}
.footer_question .btn-circle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 21.0279px;
    line-height: 25px;
    color: #B7BBC6;
}


/* PAGES */

/* INDEX */
.page-index {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 820px;
}
.page-index .page-title, .page-index .page-text {
    margin-bottom: 30px;
}


/* ABOUT */
.page-about-wrap {
    width: 100%;
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}
.about-info {
    width: 522px;
}
.about-info .page-title {
    font-size: 48px;
    line-height: 110.1%;
    margin-bottom: 30px;
}
.about-info .page-text {
    margin-bottom: 30px;
}
.growth {
    background: #F8F8F8;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 40px 0;
}
.growth_item {
    margin-bottom: 49px;
    width: 140px;
}
.growth_item_h{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 56px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #DDE3E8;
}
.growth_item_t {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}


.about-promo {
    width: 746px;
    font-family: 'Raleway', sans-serif;
}
.about-promo .header3 {
    margin-bottom: 30px;
}
.about-services {
    margin-bottom: 50px;
}
.about-services_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-services_item {
    width: 196px;
    background: #F8F8F8;
    box-shadow: 13.7309px 13.7309px 22.8848px #D1D9E6, -13.7309px -13.7309px 22.8848px #FFFFFF;
    border-radius: 15px;
    display: flex;
    padding: 20px;
}
.about-services_item_data {
    margin-left: 10px;
}
.about-services_item_h {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 5px;
}
.about-services_item_t {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.about-pluses {
    display: flex;
    justify-content: space-around;
    margin-bottom: 54px;
}
.about-pluses_item {
    width: 330px;
    display: flex;
}
.about-pluses_item_data {
    margin-left: 16px;
}
.about-pluses_item_h {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.about-pluses_item_t {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.about-partners_wrap {
    position: relative;
    height: 90px;
}
.about-slider-container {
    position: absolute; 
    top: 0;
    left: 0;
    width: 50vw;  
}

/* .about-partners_slider {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 1000px;
} */
.aps_item {
    padding-right: 50px;
    width: fit-content;
}
.about-partners_nav {
    display: flex;
    justify-content: space-between;
    width: 96px;
}
.owl-nav {
    margin-top: 20px;    
    display: flex;
}
#partners_slider .owl-nav button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8F8F8;
    box-shadow: -3.80388px -3.80388px 9.50971px #ffffff, 3.80388px 3.80388px 9.50971px #d1d9e6;
    border-radius: 50%;
    margin: 0 15px;
    color: #0071D9;
}


/* REVIEWS */
.page-reviews {
    height: 100%;
}
.page-reviews-header {
    margin-bottom: 90px;
}
.owl-carousel .owl-item {
    margin-top: 20px;
}
.owl-carousel .owl-item:not(.center) .review-item {
    background :rgba(255,255,255,.4); opacity:.4;
}
.review-item {
    width: 270px;
    font-family: 'Raleway', sans-serif;
}
.review-item-messge {
    height: 160px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    background: #F8F8F8;
    padding: 30px 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 21px;
}
.review-item-messge_text {
    font-style: normal;
    font-weight: 500;
    font-size: 19.3386px;
    line-height: 110.1%;
    color: #000000;
    overflow: hidden;
}
.review-item-messge_stars {
    display: flex;
}
.owl-carousel .owl-item .review-item-messge_stars img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.review-item-persone {
    display: flex;
}
.review-item-persone img,
#owl-reviews .review-item-persone img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.rip-data {
    margin-left: 24px;
}
.rip-nikname {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}
.rip-date {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}
.reviews-slider-nav {
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.reviews-wrap {
    margin-bottom: 36px;
}
.reviews-slider {
    display: flex;
}
.reviews-slider > div {
    padding-right: 20px;
}
.owl-carousel .owl-item.center {
    margin-top: 0px;
}
.center .review-item {
    width: 336px;
}
.center .review-item-messge {
    height: 190px;
    padding: 40px 45px 10px 30px;
    margin-bottom: 21px;
}
.center .review-item-messge_text {
    font-weight: 500;
    font-size: 24px;
    line-height: 110.1%;
}
.owl-carousel .owl-item.center .review-item-messge_stars img {
    width: 30px;
    height: 30px;
}
/* CONTACTS */
.cotacts-form-wrap {
    display: flex;
    justify-content: flex-end;
}
.cotacts-form {
    width: 100%;
    max-width: 415px;
    margin-right: 15%;
}
.cotacts-form-wrap {
    background-image: 
        url(../img/coin-usd.svg),
        url(../img/bg-post.svg),
        url(../img/bg-contacts-3.svg);
    background-repeat: no-repeat;
    background-position: 
        center left,
        20%,
        right bottom 20%;
}

/* PARTNERS */
.partners-wrap {
    display: flex;
    justify-content: space-between;
}
.page-partners .inner-subtitle {
    width: 589px;
    margin-bottom: 40px;
    font-size: 18px;
}
.partners-col1 {
    width: 807px;
}
.partners-content {
    display: flex;
    justify-content: space-between;
}
.page-partners .page-text {
    max-width: 633px;
}
.partner-sheme {
    flex-grow: 1;
    max-width: 136px;
}
.partner-sheme-item {
    display: flex;
    align-items: center;
}
.partner-sheme-rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F8FF;
    border: 1px solid #0085FF;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;   
    color: #0085FF;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.partner-sheme-persent {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #0085FF;
    margin-left: 5px;
}
.partner-sheme-sum {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-left: 5px;
}
.partner-sheme-seporater img {
    padding: 5px 16px 3px;
}
.partners-col2 {
    max-width: 460px;
    width: 100%;
}
.partners-how {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.partners-how-item {
    background: #F8F8F8;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 25px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.how-ref-sum-val {
    font-weight: 700;
}
.how-ref-comission-val {
    font-weight: 700;
    font-size: 24px;
    color: #0085FF;
}
.partners-how-btns {
    text-align: center;
}
.partners-how-btns .btn-blue {
    padding: 16px 68px;
}
/* RATES PAGE */
.rates-table {
    width: 100%;
    text-align: left;
}
.rates-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.rates-col {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.rates-col.col-send {
    width: 15%;
}
.rates-col.col-recive {
    width: 15%;
}
.rates-col.col-rates {
    width: 30%;
}
.rates-col.col-minmax {
    width: 40%;
}
.rates-row-content {
    border-bottom: 1px solid #E3E3E3;
}
.col-send-icon, .col-recive-icon {
    margin-right: 7px;
}
.rates-col .sepor {
    margin-left: 5px;
    margin-right: 5px;
}

/* PAGE FAQ */
.faq-inner {
    max-width: 580px;
}
.ui-accordion .ui-accordion-header {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 300%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    border-bottom: 1px solid #DADADA;
}
.ui-accordion .ui-accordion-header.ui-accordion-header-active {
    border: 0;
}
.ui-accordion .ui-accordion-content {
    border-bottom: 1px solid #DADADA;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 110.1%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}
.ui-icon-minus, .ui-icon-plus {
    background-image: url(../img/accordion-plus.svg);
    width: 14px;
    height: 14px;
    background-size: contain;
    position: absolute;
    right: 20px;
    top: 40px;
}
/* PAGE NEWS */
.page-news-header {
    display: flex;
    justify-content: space-between;
}
.news-slider-nav {
    display: flex;
    width: 96px;
    justify-content: space-between;
}
.news-item {
    padding-right: 20px;
}
.news-item-inner {
    width: 309px;
    border-radius: 16px;
    /* box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1); */
}
.news-img-wrap {
    width: 100%;
    height: 268px;
    background-color: #FFFFFF;
    border-radius: 16px 16px 0px 0px;
}
.news-img-wrap img {
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0px 0px;
}
.news-item-content {
    padding: 30px 20px 20px;
    height: 128px;
    overflow: hidden;
}
.news-item-content h3 {
    margin: 0;
    margin-bottom: 7px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 110.1%;
    color: #000000;
}
.news-item-content-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 110.1%;
    color: #000000;
}
.news-item-footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 110.1%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}
.news-item-read-link {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 110.1%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #0085FF;
    text-decoration: none;
}
.news-slider {
    display: flex;
}
/* .news-slider > div:nth-child(n+2) {
    margin-left: 20px;
} */
.news-content {
    position: relative;
    height: 501px;
}
.news-slider-wrap {
    position: absolute;
    width: 100vw;
}
button.slick-prev, button.slick-next {
    display: none !important;
} 
/* CUSTOM PAGE */
.page-custom {
    padding-top: 50px;
    max-width: 750px;
}




/* Exchange pages */
.exchage-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.exchage-cont {
    width: 640px;
    font-family: 'Raleway', sans-serif;
}
.exchage-header {
    font-family: Coco Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 58px;
    text-align: center;
    color: #000000;
    margin-bottom: 14px;
}
.exchage-cont p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    margin-bottom: 50px;
}
.form-control {
    position: relative;
}
.ex-form-control {
    height: 51px;
    background: #F3F3F3;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 15.5784px;
    line-height: 18px;
    color: #000000;
    border: 0;
    margin-bottom: 25px;
    padding-left: 23px; 
    padding-right: 40px;   
}
.ex-form-control.ex-form-textaria {
    height: 137px;
    border-radius: 12px;
    padding: 19px 30px;
}
.ex-form-textaria textarea {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: inherit;
    resize: none;

}
.ex-form-control .bi {
    margin-right: 10px;
}
.ex-form-control input {
    width: 100%;
    text-align: left;
    border: 0; 
    background-color: inherit; 
}

.input-confirmation {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.input-confirmation label {
    padding-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
}
/* EXCENGE DIRECTION */


.exdir-form {

}
.exdir-form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.exdir-form-col1 {
    width: 260px;
}
.exdir-form-col2 {
    width: 130px;
}
.exdir-form-col3 {
    width: 225px;
}
.currency {
    width: 100%;
    height: 51px;
    padding: .4rem 2.5rem .4rem 1rem;
    background: #F3F3F3;
    border-radius: 100px;
    background-image: url(../img/shevron-down.svg);
    background-repeat: no-repeat;
    background-position: right 1.2rem center;
    background-size: 16px 12px;
    border: 0;
    color: #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.eth {
    padding-right: 30px;
}


.currency-code {
    width: 100%;
    height: 51px;
    background: #F3F3F3;
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 15.5784px;
    line-height: 18px;
    color: #000000;
}
.val {
    width: 100%;
    height: 51px;
    background: #F3F3F3;
    border-radius: 100px;
    background-image: url(../img/shevron-down.svg);
    background-repeat: no-repeat;
    background-position: right 1.2rem center;
    background-size: 16px 12px;
    border: 0;
    color: #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 15.5784px;
    line-height: 18px;
    
    color: #000000;
}

.exdir-form label, .exdir-exchage-info {
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}
.amount input {
    width: 100%;
    height: 51px;
    background: #F3F3F3;
    border-radius: 100px; 
    border: 0;
    padding-left: 40px;
}
.exdir-form-row.row1 .exdir-form-col3 label {
    top: -15px;
    right: 0;
}
.exdir-form-row.row2 .exdir-form-col3 label {
    bottom: -15px;
    right: 0;
}
.exdir-form-row.row2 .exdir-form-col1 {
    position: relative;
}
.exdir-exchage-info {
    bottom: -15px;
    left: 30px;
}
.exdir-form-row.row2 {
    margin-bottom: 50px;
}
.exdir-form-btns {
    display: flex;
    justify-content: space-around;
}
select.currency option[value="ethereum"]   {
    background-image:url(/assets/img/logo.png);
}

/* PAGE EXCHANGE DETAILS */
.exdetails {
    width: 100%;
    max-width: 415px;

}
.page-exdetails .exchage-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-exdetails .btn-blue {
    padding: 16px 61px;
}


/* PAGE EXCHANGE confirm */
.page-exconfirm .exchage-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exconfirm {
    width: 100%;
    max-width: 465px;
}
.ex-form-control-info {
    display: flex;
    justify-content: space-between;
}
.ex-form-control.ex-form-control-info {
    font-style: normal;
    font-weight: normal;
    font-size: 15.5784px;
    line-height: 18px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    padding-left: 30px;
    padding-right: 30px;
}
.ex-form-control.ex-form-control-info div {
    display: flex;
}
.page-exconfirm .btn-blue {
    padding: 16px 50px;
}
.page-exconfirm .btn-white {
    padding: 16px 30px;
}
.page-exconfirm .exdir-form-btns {
    width: 100%;
    max-width: 465px;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* page result */
.page-result .exchage-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-result-sub-head {
    width: 100%;
    max-width: 350px;
}
.exchage-cont .page-result-sub-head p {
    margin: 0;
    margin-bottom: 40px;
}
.result-summury {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}
.result-summury-val {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    font-feature-settings: 'pnum' on, 'lnum' on;    
    color: #0085FF;
}
.exresult {
    width: 100%;
    max-width: 528px;
    font-weight: 100;
}
.exresult a {
    color: #000000;
    text-decoration: none;
}

.rlwr {
    overflow: hidden;
    word-wrap: none;
}
@media (max-width: 1399.98px) {
    .page-about .container {
        padding-top: 20px;
    }
    .page-about-wrap {
        padding-top: 30px;
    }
    .container {
        width: 1140px;
    }
    .header-nav_link {
        font-size: 20px;
    }
    .site-container {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .about-info {
        width: 450px;
    }
    .about-info .page-title {
        font-size: 36px;
    }
    .growth {
        padding: 10px 10px 0;
    }
    .growth_item_h {
        font-size: 28px;
    }
    .growth_item {
        margin-bottom: 20px;
    }
    .about-promo {
        width: 620px;
    }
    .header3 {
        font-size: 32px;
    }
    .about-services_item {
        width: 180px;
        padding: 10px;
    }
    .page-inner {
        padding-top: 30px;
    }
    .partners-col2 {
        max-width: 420px;
    }
    .partners-col1 {
        width: 680px;
    }
    .page-partners .page-text {
        max-width: 510px;
    }
    .page-text {
        font-size: 16px;
    }
    .exchage-cont p {
        margin-bottom: 20px;
        margin-top: 0;
    }
    .exchage-header {
        line-height: normal;
        font-size: 36px;
        margin-bottom: 10px;
    }
    .exchage-cont p {
        margin-bottom: 15px;
    }
    .ex-form-control {
        margin-bottom: 15px;
    }
}
@media (max-width: 1199.98px) {
    .container {
        width: 100%;
    }
    .page-reviews-header {
        margin-bottom: 30px;
    }
    .reviews-wrap {
        margin-bottom: 18px;
    }
}
@media (max-width: 991.98px) {
    .reviews-slider-nav-wrap {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 575.98px) {
    .header_profile {
       width: unset; 
    }
    .site-content { 
        padding-left: 10px;
        padding-right: 10px;
    }
    .page-title {
        font-size: 56px;
        line-height: normal;
    }
    .exchage-cont {
        width: 100%;
        font-family: 'Raleway', sans-serif;
    }
    .exdir-form-row {
        flex-direction: column;
    }
    .exdir-form-row > div{
        margin-bottom: 10px;
    }
    .exdir-form .currency,
    .exdir-form .currency-code,
    .exdir-form .amount input,
    .exdir-form .val {
        height: 30px;
    }
    .exdir-form-btns {
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .exdir-form-btns .btn {
        margin-bottom: 15px;
    }
    .header-nav {
        flex-direction: column;
        justify-content: center;
    }
    .top-nav-footer-wrap {
        flex-wrap: wrap;
    }
    .top-nav_social {
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .page-about-wrap {
        flex-direction: column;
    }
    .about-info {
        width: 100%;
        margin-bottom: 20px;
    }
    .about-promo {
        width: 100%;
    }
    .about-services_wrap {
        justify-content: center;
    }
    .about-services_item {
        width: 300px;
        padding: 15px;
        margin-bottom: 15px;
    }
    .about-pluses {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .about-pluses > div {
        margin-bottom: 15px;
    }
    .rates-row.table-head {
        display: none;
    }
    .rates-row.rates-row-content {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px 0;
    }
    .rates-col.col-send {
        width: 30%;
    }
    .rates-col.col-recive {
        width: 30%;
    }
    .rates-col.col-rates {
        width: 100%;
        justify-content: space-around;
    }
    .rates-col.col-minmax {
        width: 100%;
        justify-content: space-around;
    }
    .partners-wrap {
        flex-direction: column;
    }
    .partners-col1 {
        width: 100%;
    }
    .page-partners .inner-subtitle {
        width: 100%;
    }
    .partners-content {
        flex-direction: column-reverse;
    }
    .partner-sheme {
        flex-grow: 1;
        max-width: unset;
        width: 100%;
    }
    .partners-how {
        justify-content: center;
    }
    .growth_item_t {
        text-align: center;
    }
    .about-slider-container {
        width: 100%;  
    }
    .center .review-item {
        width: 300px;
    }


}
